@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root{
    --color-cielo: #F3F5FC;
    --color-azul:#0A3871;
    --color-azulClaro:#D8DFE8;
    --color-blanco:#ffffff;
    --padding-container:40px 0;
}
body{
    background-color: var(--color-cielo);
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.home__page{
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    background-color: var(--color-azulClaro);
    z-index: 2;
}
nav{
    width: 100%;
    height: auto;
    max-width: 960px;
    --padding-container: 0;
}
header nav img{
    width: auto;
    height: 55px;
    margin: 5px;
}
.main__page {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.first__field, .seconds__field{
    margin-top: 50px;
    margin-bottom: 15x;
    height: 520px;
}
.first__field{
    width: 70%;
}
.seconds__field{
    z-index: 1;
    position: relative;
    width: 30%;
    min-width: 300px;
    background-color: var(--color-blanco);
    color: var(--color-azul);
    padding: 1em;
    border-radius: 15px;
    border: 1px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    line-height:  1.4;
}

.textResult{
    margin: 5px;
    width: auto;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    word-wrap: break-word;
}
.textResult span{
    position: absolute;
    right: 0;
    background: var(--color-blanco);
    /*border-left: 2px solid var(--color-azul);*/
    animation: escribir 5s steps(30) alternate;
}

@keyframes escribir{
    from{width: 100%;}
    to {width: 0;}
}
.textResult::selection{
    color: var(--color-blanco);
    background-color: var(--color-azul);
}
.incoming__text::selection{
    color: var(--color-blanco);
    background-color: var(--color-azul);
}
.buttons{
    margin: 10px 10px;
    padding: 7px 10px;
    border: 1px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-blanco);
    background-color: var(--color-azul);
    display: inline-block;
}
.buttons:hover{
    transition: 1s;
    transform: scale(1.1);
    background-color: #2862a9;

}
.incoming__text{
    color: var(--color-azul);
    background-color: var(--color-cielo);
    width: 100%;
    height: 95%;
    max-width: 850px;
    min-width: 400px;
    padding: 1em;
    border-radius: 15px;
    border: 1px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    line-height:  1.4;
}
.copyText{
    position: absolute;
    bottom: 0;
}
footer{
    width: 100%;
    padding-top: 30px;
    height: auto;
    position: relative;
    display: flex;
    background-color: var(--color-azul);
    --padding-container: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--color-blanco);
}
.foot__logo{
    width: 150px;
}
.foot__author{
    padding: 10px;
    width: 60%;
}
.foot__socialNetworks img{
    width: 30px;
}
.foot__socialNetworks ul li{
    margin: 5px;
    border: 2px solid ;
    border-radius: 50%;
    display: inline-block;
}

/*----------------------------------------------*/
@media screen and (max-width: 767px) {
.main__page {
    flex-direction: column;
    align-items: center;
}
header nav img{
    width: auto;
    height: 50px;
    margin: 3px;
}
.entrada {
    margin-top: 20px;
}
.first__field{
    width: 100%;
}
.seconds__field{
    width: 100%;
    height: 250px;
}
.textResult{
    width: 100%;
    height: 170px;
    max-height: 400px;
    overflow-y: auto;
    word-wrap: break-word;
}
.incoming__text{
    width: 100%;
}
.foot__author{
    width: 80%;
}
}