@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root{
    --color-cielo: #F3F5FC;
    --color-azul:#0A3871;
    --color-azulClaro:#D8DFE8;
    --color-blanco:#ffffff;
    --padding-container:40px 0;
}
body{
    background-color: var(--color-cielo);
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.home__page{
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    background-color: var(--color-azulClaro);
    z-index: 2;
}
nav{
    width: 100%;
    height: auto;
    max-width: 960px;
    --padding-container: 0;
}
header nav img{
    width: auto;
    height: 55px;
    margin: 5px;
}
.ff{
    position:absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #e5e5f7;
    opacity: 0.1;
    background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -25px 0/ 50px 50px, linear-gradient(225deg, #444cf7 25%, transparent 25%) -25px 0/ 50px 50px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 50px 50px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 50px 50px;
}
.main__page {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.first__field, .seconds__field{
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 15x;
    height: 520px;
}
.first__field{
    width: 70%;
    height: 100%;
}
.seconds__field{
    z-index: 1;
    position: relative;
    width: 30%;
    height: 500px;
    min-height: 250px;
    min-width: 300px;
    background-color: var(--color-blanco);
    color: var(--color-azul);
    padding: 1em;
    border-radius: 15px;
    border: 1px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height:  1.4;
}
.info{
    width: 100%;
    height: 30px;
}
.info img{
    position: relative;
    width: 20px;
    
}
.info p{
    margin-left: 20px;
    align-content: center;
    display: inline-block;
}
.textResult{
    margin: 5px;
    width: auto;
    height: 400px;
    max-width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-wrap: break-word;
}
.textResult span{
    position: absolute;
    right: -10px;
    background: var(--color-blanco);
    border-left: 2px solid var(--color-azul);
    animation: escribir 5s steps(15) alternate;
}

@keyframes escribir{
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
.textResult::selection{
    color: var(--color-blanco);
    background-color: var(--color-azul);
}
.incoming__text::selection{
    color: var(--color-blanco);
    background-color: var(--color-azul);
}
.buttons{
    margin: 10px 10px;
    padding: 7px 10px;
    border: 1px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-blanco);
    background-color: var(--color-azul);
    display: inline-block;
}
.buttons:hover{
    transition: 1s;
    transform: scale(1.1);
    background-color: #2862a9;

}
.incoming__text{
    color: var(--color-azul);
    opacity: 0.7;
    background-color: var(--color-cielo);
    width: 100%;
    height: 430px;
    margin-bottom: 5px;
    max-width: 850px;
    min-width: 380px;
    padding: 1em;
    border-radius: 15px;
    border: 1px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    line-height:  1.4;
    resize: none;
}
.copyText{
    position: absolute;
    bottom: 0;
}
.show_background{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    background-color: rgba(8, 23, 42, 0.6);
}
.show_background{
    display: none;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 23, 42, 0.6);
}
.show{
    display: none;
    position: fixed;
    z-index: 10;
    width: 350px;
    height: auto;
    margin-top: 190px;
    padding: 0%;
    text-align: center;
    border: 0 solid ;
    background-color: var(--color-blanco);
}
.show:hover {
    cursor: progress;
    box-shadow: 1px 4px 25px 0 #221b66;
}
.show__state{
    width: 100%;
    height: 40px;
    padding: 5px;
    color: var(--color-blanco);
    background-color: var(--color-azul);
}
.show__well{
    width: 70px;
    margin: 15px;
}
.show__action{
    height: 70px;
    padding: 20px;
}
.show__btn{
    width: 160px;
    height: 45px;
    border: 1px;
    color: var(--color-blanco);
    background-color: var(--color-azul);
}
.show__btn:hover{
    background-color: #2862a9;
}
footer{
    width: 100%;
    padding-top: 30px;
    height: auto;
    position: relative;
    display: flex;
    background-color: var(--color-azul);
    --padding-container: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--color-blanco);
}
.foot__logo{
    width: 180px;
    margin-bottom: 10px;
}
.foot__socialNetworks img{
    align-content: center;
    width: 30px;
}

.foot__socialNetworks ul li{
    padding: 6px;
    background-color: #07166a;
    display: inline-block;
    margin: 5px;
}
.foot__socialNetworks ul li:hover{
    transition: 1s;
    transform: scale(1.1);
    background-color: rgb(6, 141, 150);
}
.foot__author{
    background-color: #07166a;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
/*----------------------------------------------*/
@media screen and (max-width: 767px) {
.main__page {
    flex-direction: column;
    align-items: center;
}
header nav img{
    width: auto;
    height: 50px;
    margin: 3px;
}
.entrada {
    margin-top: 20px;
}
.first__field{
    width: 100%;
    height: auto;
}
.seconds__field{
    opacity: 0.7;
    margin: 0;
    width: 100%;
    height: 250px;
}
.textResult{
    width: 100%;
    height: 170px;
    max-height: 400px;
    overflow-y: auto;
    word-wrap: break-word;
}
.incoming__text{
    width: 100%;
}
.show{
    margin-top: -80px;
}
.foot__author{
    width: 100%;
}
}