@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root{
    --color-cielo: #F3F5FC;
    --color-azul:#0A3871;
    --color-azulClaro:#D8DFE8;
    --color-blanco:#ffffff;
    --padding-container:40px 0;
}
body{
    background-color: var(--color-cielo);
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.home__page{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    background-color: var(--color-azulClaro);
}
nav{
    width: 100%;
    height: auto;
    max-width: 960px;
    --padding-container: 0;
}
header nav img{
    width: auto;
    height: 60px;
    margin: 3px;
}
.img__alura{
    float: right;
}
.main__page {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.first__field{
    margin: 10px;
}
.seconds__field{
    width: 100%;
    height: 500px;
    background-color: var(--color-blanco);
    color: var(--color-azul);
    padding: 1em;
    border-radius: 15px;
    border: 1px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    line-height:  1.4;
}
.buttons{
    margin: 10px 0;
    padding: 7px 10px;
    border-radius: 15px;
    color: var(--color-blanco);
    background-color: var(--color-azul);
    display: inline-block;
}
.incoming__text{
    color: var(--color-azul);
    background-color: var(--color-cielo);
    width: 65vw;
    height: 95%;
    max-width: 850px;
    min-width: 400px;
    padding: 1em;
    border-radius: 15px;
    border: 1px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    line-height:  1.4;
}
footer{
    width: 100%;
    padding-top: 30px;
    height: auto;
    position: relative;
    display: flex;
    background-color: var(--color-azul);
    --padding-container: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--color-blanco);
}
.foot__logo{
    width: 170px;
}
.foot__author{
    padding: 10px;
    width: 60%;
}
.foot__socialNetworks img{
    width: 35px;
}
.foot__socialNetworks ul li{
    margin: 10px;
    border: 2px solid ;
    border-radius: 50%;
    display: inline-block;
}

/*----------------------------------------------*/
@media screen and (max-width: 767px) {
.main__page {
    flex-direction: column;
    align-items: center;
}
.entrada {
    margin-top: 20px;
}
.first__field{
    width: 100%;
}
.seconds__field{
    width: 100%;
    height: 200px;
}
.incoming__text{
    width: 100%;
}
.foot__author{
    width: 80%;
}
}